<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <logger name="io.github.moonkev" level="info" />
  <logger name="io.opentelemetry" level="info" />
<!--  <logger name="org.jgroups" level="debug" />-->
<!--  <logger name="org.infinispan" level="debug" />-->
</configuration>
